@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f5f5f0;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

/* CUSTOM STEALTH SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444; /* Redline Highlight */
}

/* SMOOTH SCROLL ACCELERATION */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* INPUT AUTOFILL FIXES */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
  -webkit-text-fill-color: white !important;
}
